
.icon-ship1-1:before { content: '\e800'; } /* '' */
.icon-ship2:before { content: '\e801'; } /* '' */
.icon-ship3:before { content: '\e802'; } /* '' */
.icon-ship4:before { content: '\e803'; } /* '' */
.icon-bridge:before { content: '\e804'; } /* '' */
.icon-engineering:before { content: '\e805'; } /* '' */
.icon-weapons:before { content: '\e806'; } /* '' */
.icon-shields:before { content: '\e807'; } /* '' */